
:root{
  --color-1:#0c0c0c;
  --color-2:#481E14;
  --color-3:#9B3922;
  --color-4:#F2613F;
}

*{
  margin:0;
  padding:0;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-contact-text{
  color:#F2613F
}

/* main navbar starts */

.main-navbar-logo{
  color:var(--color-1) !important;
}

.main-navbar-cta{
  background-color: var(--color-1);
  font-weight: bold;
  border-radius: 24px;
}

.main-navbar-cta .nav-link{
  color:var(--color-4)
}

.navbar-nav .nav-livnk::before{
  content: "";
  position: absolute;
  z-index: 10;
  left:0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(-45deg,var(--color-4) 50%,var(--color-1) 50%);
  transition: all 0.5s ease;
}

.navbar-nav .nav-link:hover::before{
  width: 100%;
}

/* main navbar ends */

